* {
  margin: 0;
  padding: 0;
}

div {
  /* width: 100%;
  height: 500px; */
  display: flex;
  gap: 14px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
span {
  color: rgba(240, 248, 255, 0.74);
}

button {
  height: 50px;
  width: 80px;
  background-color: #1d0606;
}
